
<%= form_for(@question, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.form_group :q_stage do |f| %>
        <%= f.label 'Stage', class: 'control-label col-md-2' %>
        <div class='col-md-4'>
          <%= f.select :q_stage_id, QStage.order(:name).collect { |p| [ p.name, p.id ] }, {required: true}, {class: 'form-control form-control-lg', disabled: f.object.persisted?} %>
          <%= f.error_messages %>
        </div>
    <% end %>

    <%= f.form_group :question do |f| %>
      <%= f.label :question, class: 'control-label col-md-2' %>
      <div class='col-md-6'>
        <%= f.text_field :question, class: 'form-control form-control-lg',required: true %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :help_text do |f| %>
      <%= f.label :help_text, class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        <%= f.text_field :help_text, class: 'form-control form-control-lg' %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :allow_comment do |f| %>
      <%= f.label :allow_comment, class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        <label class="switch switch-info pull-right font_small pull-left">
        <%= f.check_box :allow_comment, class: 'form-control form-control-lg', data: {toggle: :tooltip, title: 'Allow comments'} %>
        <%= f.error_messages %>
          <span></span>
        </label>
      </div>
    <% end %>








  </div>

  <div class="form-actions">
    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to "Cancel", questions_path, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>

