<% @title = "Maturity Framework" %>

<% content_for :description do %>
    <ol class="breadcrumb col-sm-6 col-xs-height text-left col-middle">
      <li><%= link_to "Frameworks", maturity_frameworks_path %></li>
      <li><%= link_to "Categories", levels_path %></li>
      <li><%= link_to "Stages", q_stages_path %></li>
      <li><%= link_to "Questions", questions_path %></li>
    </ol>
<% end %>

<% content_for :actions do %>
    <%= link_to new_question_path, class: 'btn btn-primary btn-large pull-right' do %>
        <%= fa_icon_tag "plus" %> Add Question
    <% end %>
<% end %>

<%= render "layouts/flashes" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <table class="table">
            <thead>
            <tr>
              <th>Question</th>
              <th>Help text</th>
              <th>Allow comment</th>
              <th>Category</th>
              <th>Stage</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @questions.each do |question| %>
                <tr>
                  <td><%= question.question[0..100] %>...</td>
                  <td><%= question.help_text[0..40] %>...</td>
                  <td class="text-center">
                    <label class="switch switch-info pull-right font_small">
                      <%= check_box_tag "comment","1",question.allow_comment, data: {toggle: :tooltip, title: 'Allow comments'},disabled: true%>
                      <span></span>
                    </label>


                  </td>
                  <td><%= question.q_stage.level.name %></td>
                  <td><%= question.q_stage.name %></td>
                  <td class="actions">
                    <%= link_to fa_icon_tag("eye"), question, rel: 'tooltip', title: 'Show' %>
                    <%= link_to fa_icon_tag("pencil"), edit_question_path(question), rel: 'tooltip', title: 'Edit' %>
                    <%= link_to fa_icon_tag("trash-o"), question, rel: 'tooltip', title: 'Delete',
                                data: {confirm: 'Are you sure?'}, method: :delete %>
                  </td>
                </tr>
            <% end %>
            <% if @questions.length == 0 %>
                <tr>
                  <td colspan=42 class='text-center'>No questions.</td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->

      <%# Remove the trailing if condition if you're using pagination. %>
      <%= will_paginate @questions if @questions.respond_to?(:total_pages) %>
    </div>
  </div>
</div>
