<%= form_for(@team, url: teams_path, method: :post, html: {class: 'form-horizontal form-control-lg'}) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs" style="margin-top: -1px;">

    <%= f.form_group :project do |f| %>
      <%= f.label :project, class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        <%= @team.project_info.blank? ? image_tag('/images/voardtrix_logo.png', class: "img-rounded", height: '32', width: '32', id: 'project_image') : image_tag(@team.project_info.icon, class: "img-rounded", height: '32', width: '32', id: 'project_image') %>
        <div class="btn-group">
          <%= f.collection_select :project, projects, :key, :name, {prompt: 'Select project...', required: true}, {class: 'form-control form-control-lg', data: {behaviour: :team_project_change}, disabled: f.object.persisted?} %>
        </div>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :board_id do |f| %>
      <%= f.label :board_id, class: 'control-label col-md-2' %>
      <div class='col-md-4'>
        <% if (f.object.persisted?) %>
          <%= f.label board @team, {class: 'form-control form-control-lg'} %>
        <% else %>
          <%= f.select :board_id, "Not defined", {prompt: 'Not defined', required: true}, {required: true,class: 'form-control', data: {behaviour: :team_board_id_change}, disabled: f.object.persisted?} %>
        <% end %>
        <%= f.error_messages %>
      </div>
      <div class='col-md-2 pull-left'>
        <div class="input-group">
          <div class="input-group-addon">Board type</div>
          <%= f.text_field :board_type, {class: 'form-control form-control-lg', data: {behaviour: :board_type}, disabled: f.object.persisted?} %>
        </div>
      </div>
    <% end %>

    <%= f.form_group :estimated do |f| %>
      <%= f.label :estimated, class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        <%= f.select :estimated, fields(key: @team.project).invert, {required: true}, {class: 'form-control form-control-lg', disabled: f.object.persisted?} %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :name do |f| %>
      <%= f.label :name, class: 'control-label col-md-2' %>
      <div class='col-md-4'>
        <%= f.text_field :name, {required: true, placeholder: "Team's name", class: 'form-control form-control-lg'} %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.hidden_field :setting_id, value: current_user.setting.id %>

  </div>

  <div class="form-actions">
    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to "Cancel", teams_path, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>

