<script>
    $(document).ready(function () {
        InitializeComulativeFlowChart();
    });
</script>

<% @title = "Comulative Flow Diagram / #{@team.name}" %>

<% content_for :description do %>
  <p><%= vt_project_tag @team.project %> / <%= @team.name %></p>

<% end %>

<% content_for :actions do %>
<% end %>
<%= hidden_field_tag 'teamid',@team.id, id: 'teamid' %>


<%#= render "layouts/sprint_navigation" %>
<%= render "team_navigation" %>

<div class="container-fluid">
  <%= render "layouts/flashes" %>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-right-fade-1200">
      <%= render "layouts/release_time_graph", :locals => { :graph_id => "team-comulative-flow", :title => "Comulative Flow Diagram" } %>
    </div>
  </div>
</div>
