<% content_for :javascript do %>
  <script>
      $(document).on('turbolinks:load', function () {
        setTimeout(function() { InitializeComulativeFlowChart(); }, 1000);

    });
</script>
<%end %>

<% @title = "Comulative Flow Diagram / #{@team.name}" %>

<% content_for :description do %>
  <p><%= vt_project_tag @team.project %> / <%= @team.name %></p>

<% end %>

<% content_for :actions do %>
<% end %>


<%#= render "layouts/sprint_navigation" %>
<%= render "team_navigation" %>
<%= render "layouts/flashes" %>

<div class="container-fluid">
  <%= hidden_field_tag 'teamid', @team.id, class: 'form-control', id: 'teamid' %>

  <div class="row">
    <div class="col-lg-4 col-md-8 col-sm-12 animate-drop-fade">
      <%= render partial: "caskets/kanban_wip_limit", :locals => {:team => @team} %>

    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 animate-drop-fade">
      <%= render partial: "caskets/kanban_cycle_time", :locals => {:team => @team}%>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 animate-drop-fade">
      <%= render partial: "caskets/varianza_sprint", :locals => {:team => @team} %>
    </div>
  </div>

  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 animate-drop-fade">
      <%= render "layouts/release_time_graph", :locals => { :graph_id => "team-comulative-flow", :title => "Comulative Flow Diagram" } %>
      </div>
  </div>
</div>
