<% @title = "Manage Team(s)" %>



<% content_for :description do %>

  <p><%= vt_project_icon %>
    Team(s)</p>

<% end %>
<br>

<div class="row">
  <% content_for :actions do %>
      <%= link_to new_team_path, class: 'btn btn-primary btn-large pull-right' do %>
          <%= fa_icon_tag "plus" %> Add Team
      <% end %>
  <% end %>

<div class="container-fluid">
  <%= render "layouts/flashes" %>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <table class="table">
            <thead>
            <tr>
              <th>Project</th>
              <th>Name</th>
              <th>Board</th>
              <th>Process</th>
              <th>Value</th>
              <th>Quality</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @teams.each do |team| %>

                <tr>
                  <td><%= image_tag(team.project_info.blank? ? "/images/voardtrix_logo.png" : team.project_info.icon, class: "img-rounded", height: '24', width: '24', id: 'project_image') %> <%= team.project %></td>
                  <td><%= team.name %></td>
                  <td><%= board_by_team[team.board_id] %></td>
                  <td>
                    <%= tmf_stars team.tmf_process %></td>
                  <td><%= tmf_stars team.tmf_value %></td>
                  <td><%= tmf_stars team.tmf_quality %></td>
                  <td class="actions">
                    <%= link_to fa_icon_tag("eye"), get_dashboard_path(team.id), rel: 'tooltip', title: 'Show' %>
                    <%= link_to fa_icon_tag("pencil"), edit_team_path(team), rel: 'tooltip', title: 'Edit' %>
                    <%= link_to fa_icon_tag("trash-o"), team, rel: 'tooltip', title: 'Delete', method: :delete, data: {confirm: 'Are you sure?'} %>

                  </td>
                </tr>
                <div class="radio radio-inline">

                  <%= radio_button_tag 'tmf_value', team.tmf_process, true %>
                </div>
            <% end %>
            <% if @teams.length == 0 %>
                <tr>
                  <td colspan=42 class='text-center'>No teams.</td>
                </tr>
            <% end %>
            </tbody>

          </table>
          <%= will_paginate @teams %>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->

    </div>
  </div>
</div>

