<div id="main" class='devise'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span class="pull-left"><img src="/images/vortrics_name.png" style="margin-left: 12px;margin-top: 12px;height: 110px;"></span>
      </div>
    </div>
    <div class="row mt20">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="p0 m0 mb20 text-center">Sign Up</h2>
        <%= form_for resource, as: resource_name, url: registration_path(resource_name),
                     html: {method: :put, novalidate: true, class: "form-horizontal col-xs-12 col-md-6 col-md-offset-3"} do |f| %>

          <%= f.error_notification %>

          <div class="avatar text-center">
            <img alt="2" class="img-rounded" src="<%= current_user&.avatar.to_s%>" width="150" height="150">
            <p style="font-size: 28px;margin-bottom: 5px;"><%= current_user&.displayName %></p>
          </div>

          <%= f.form_group :email do |f| %>
            <%= f.label :email, class: "col-xs-1 col-sm-2 col-md-2 control-label" %>
            <div class="col-sm-10">
              <%= f.email_field :email, required: true, autofocus: true, class: "form-control" %>
              <%= f.error_messages %>
            </div>
          <% end %>

          <%= f.form_group :extuser do |f| %>
            <%= f.label "JIRA Login", class: "col-xs-1 col-sm-2 col-md-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :extuser, required: true, autofocus: true, class: "form-control" %>
              <%= f.error_messages %>
            </div>
          <% end %>

          <%= f.form_group :password do |f| %>
            <%= f.label :password, class: "col-xs-1 col-sm-2 col-md-2 control-label" %>
            <div class="col-sm-10">
              <%= f.password_field :password, class: "form-control" %>
              <%= f.error_messages %>
            </div>
          <% end %>

          <%= f.form_group :password_confirmation do |f| %>
            <%= f.label :password_confirmation, class: "col-xs-1 col-sm-2 col-md-2 control-label" %>
            <div class="col-sm-10">
              <%= f.password_field :password_confirmation, class: "form-control" %>
              <%= f.error_messages %>
            </div>
          <% end %>

          <%= f.form_group :current_password do |f| %>
            <%= f.label :current_password, class: "col-xs-1 col-sm-2 col-md-2 control-label" %>
            <div class="col-sm-10">
              <%= f.password_field :current_password, class: "form-control" %>
              <%= f.error_messages %>
              <div class="help-inline">
                We need your current password to confirm your changes.
              </div>
            </div>
          <% end %>

          <div class="form-actions col-sm-offset-2">
            <%= f.submit "Update", class: 'btn btn-primary' %>
            <%= link_to "Cancel my account", registration_path(resource_name), confirm: "Are you sure?", method: :delete, class: "pull-right text-red-400 pt10" %>
          </div>


        <% end %>
      </div>
    </div>

    <div class="row mt20">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div style="display:block;" id="policy" class="col-sm-offset-4 animate-fade-in-500">
          <p>Your privacy is important to us. It is Vortrics' policy to respect your privacy regarding any information we
            may collect from you across our website, <a href="https://vortrics.com">https://vortrics.com</a>, and other
            sites we own and operate.</p>
          <p>Cancelling your account with Vortrics it guarantees that will remove all your personal information as wel as any content from external sites such as teams, sprint, issues, change logs and particularly any connection data.</p>
          <p>Please, feel free to contact us if you want more details about this process at info@vortrics.com </p>
        </div>
      </div>
    </div>




  </div>
</div>
