<% @title = "Improvements" %>

<% content_for :description do %>
  <p> <%= vt_project_icon %><%= vt_project_name %> Kaizen actions</p>
  <ol class="breadcrumb col-sm-6 col-xs-height text-left col-middle">
    <li><%= link_to "Advices", advices_path %></li>
  </ol>
<% end %>
<%= render "layouts/flashes" %>
<div class="container-fluid">
  <div class="row">
    <div class="panel panel-primary mt15 ml15 mr15" id="panels">
      <div class="panel-heading">
        <%= @advice.advice_type.humanize %>
      </div>
      <p class="panel-body">
        <%= @advice.description.html_safe %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="left-timeline col-sm-6">

      <%= form_for(@comment, html: {class: 'timeline-update'}) do |f| %>
        <%= f.error_notification %>
        <%= f.hidden_field :advice_id, value: @advice.id %>
        <%= f.text_area :description, placeholder: "What's in your mind to improve this situation?", class: "form-control" %>
        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <a class="btn btn-sm btn-default"><i class="fa fa-fw fa-camera"></i></a>
            <a class="btn btn-sm btn-default"><i class="fa fa-fw fa-video-camera"></i></a>
            <a class="btn btn-sm btn-default"><i class="fa fa-fw fa-map-marker"></i></a>
          </div>
          <div class="col-xs-6 col-sm-6 text-right">
            <%= f.submit class: 'btn btn-sm btn-outline-primary' %>
          </div>
        </div>
      <% end %>
      <ul>
        <% @advice.comments.reverse.each do |comment| %>
          <li>
            <time>
              <span><%= comment.created_at.day %></span>
              <small><%= comment.created_at.strftime('%b') %></small>
            </time>
            <div class="media">
              <%= link_to comment, method: :delete, class: "btn btn-link btn-flat btn-xs btn-borderless pull-right" do %>
                <i class="fa fa-trash"></i>
              <% end if comment.actor.eql? current_user %>
              <a class="pull-left" href="#">
                <%= image_tag comment.actor.avatar.to_s, class: "img-rounded", height: '32', width: '32' %>
              </a>
              <div class="media-body">
                <h5 class="media-heading">
                  <h5 class="m0 mt15 mb15"><%= comment.actor.displayName %> made a comment.</h5>
                </h5>
                <p><%= comment.description %></p>
              </div>
              <ul class="small pull-right">
                  <span class="small">
                    <%= fa_icon_tag("clock-o") %><%= comment.created_at.strftime("%H:%M") %>
                  </span>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="list-group mt15">
        <li class="list-group-item"><strong>Colleagues</strong>
          <span class="badge"><%= current_user.setting.users.all.uniq.count %></span></li>
        <% current_user.setting.users.all.each do |user| %>
          <li class="list-group-item">
            <%= image_tag user.avatar.to_s, class: "img-circle profile-image", height: '35', width: '35' %> <%= user.displayName %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
