<div class="tab-pane fade" style='height: 250px;overflow:scroll;overflow-x:hidden;' id='story-attach-data'>
  <ul class="list-group list-group-flush">
    <% @attachments.each do |attach| %>
      <li class='list-group-item'>
        <div class="media">
          <a class="pull-left" href="#">
            <%= image_tag attach&.dig("author","avatarUrls","48x48").presence || "/images/vortrics_icon.svg",class: "img-rounded", height: '24', width: '24', data: {toggle: "tooltip", title: attach&.dig("author","displayName").presence || "nd"}%>
          </a>
          <div class="media-body">
            <h5 class="media-heading">
              <a href="#" title=""><%= attach&.dig("author","displayName") %></a> attached at
              <a href="#" title=""><%= attach&.dig("created").to_datetime.strftime("%d/%m/%Y %H:%M") %> </a>
            </h5>
            <p class='small'>
              <% unless attach&.dig("mimeType")&.include? "image" %>
                <%= link_to attach&.dig("content"), data: {toggle: "tooltip", title: attach&.dig("author","displayName")} unless attach&.dig("author").nil? %>
              <% else %>
                <%= link_to image_tag(attach&.dig("thumbnail")), attach&.dig("content"), data: {lightbox: "#{attach&.dig("author","displayName")}", title: "#{@issue&.key} Attachment"} %>
              <% end %>
            </p>

          </div>
        </div>
      </li>
    <% end %>

    <% if @attachments.empty? %>
      <li class='list-group-item'>
        <div class="media">
          <a class="pull-left" href="#">
            <%= image_tag @issue.assigneeavatar.presence || "/images/vortrics_icon.svg",class: "img-rounded", height: '24', width: '24', data: { toggle: "tooltip", title: @issue.assignee } %>
          </a>
          <div class="media-body">
            <h5 class="media-heading">
              <%= @issue.key %>
            </h5>
            <p class='small'> Has no attachments</p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>