<% @title = "Issue list" %>

<% content_for :description do %>

  <p><%= vt_project_icon %>
    Issues <%= vt_project_name %></p>
  <%= render 'layouts/settings_nav' %>
<% end %>

<% content_for :actions do %><% end %>

<div class="container-fluid">

  <ul class="nav nav-tabs">

    <li class='navbar-form pull-right'>
      <%= activatable_li_tag sprints_path do |url|
        link_to_unless !current_user.admin?, fa_icon_tag("trash") << " Clean up Sprints", {}, data: { title: 'Admin only', toggle: :tooltip } do |name|
          link_to fa_icon_tag("trash") << " Sprints", url, data: { toggle: "tooltip", title: 'Clean up sprints'}
        end
      end %>
    </li>
  </ul>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <table class="table small">
            <thead>
            <tr class="false">
              <th>Type</th>
              <th>Key</th>
              <th><%= sort_link 'customfield_11382', "#Sprint(s)" %> </th>
              <th>Summary</th>
              <th><%= sort_link 'customfield_11802', "Story Points" %></th>
              <th>Created</th>
              <th>Resolved</th>
              <th><%= sort_link 'status', "Status" %></th>
              <th>Components</th>
              <th>Assignee</th>
              <th>Flagged</th>
              <th>Release Time</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @issues.each do |issue| %>
                <tr class="active <%= issue.issuetype.to_s.downcase.eql? 'subtarea' %>">
                  <td><%= image_tag issue.issueicon, data: {toggle: "tooltip", title: issue.issuetype.to_s} %> </td>
                  <td><%= issue.key %></td>
                  <td><%= issue.customfield_11382 %> <%= issue.customfield_11382.to_i > 1 ? fa_icon_tag("exclamation-triangle") : '' %></td>
                  <td><%= issue.summary[0..60] %></td>
                  <td><%= issue.customfield_11802 %></td>
                  <td><%= issue.created.strftime("%d/%m") unless issue.created.nil? %></td>
                  <td><%= issue.resolutiondate.strftime("%d/%m") unless issue.resolutiondate.nil? %></td>
                  <td><%= vt_issue_status_tag issue.status, issue.statusname %></td>
                  <td><%= issue.components %></td>
                  <td><%= issue.assignee %></td>
                  <td><%= fa_icon_tag("flag") if issue.flagged? %></td>
                  <td><%= issue.time_in({toString: :wip},{toString: :done}) %></td>
                  <td class="actions">
                    <%= link_to fa_icon_tag("eye"), issue, data: {toggle: "tooltip", title: 'Show issue details'} %>
                    <%= link_to ionicon_icon_tag("ios-infinite"), issue.sprint, data: {toggle: "tooltip", title: 'Go to sprint'} %>
                    <%= link_to fa_icon_tag("trash-o"), issue, method: :delete, data: {toggle: "tooltip", title: 'Delete',confirm: 'Are you sure?'} %>
                  </td>
                </tr>
            <% end %>
            <% if @issues.length == 0 %>
                <tr>
                  <td colspan=42 class='text-center'>No issues.</td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <%# Remove the trailing if condition if you're using pagination. %>
          <%= will_paginate @issues if @issues.respond_to?(:total_pages) %>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->


    </div>
  </div>
</div>
