<li class="nav-item">
  <a class="nav-link"> <i class="fa fa-fw fa-magic fa-lg fa-fw"></i> Kaizen <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level" aria-expanded="false">

    <%= activatable_li_tag advices_path do |url| %>
      <%= link_to fa_icon_tag("Commenting") << "Remote Retrospective", url %>
    <% end %>

    <%= activatable_li_tag advices_path do |url| %>
      <%= link_to fa_icon_tag("compass") << "Actions", url %>
    <% end %>

    <li class="nav-item">
      <a class="nav-link"><i class="fa fa-fw fa-trophy fa-lg fa-fw"></i> Team maturity
        <span class="fa arrow"></span></a>
      <ul class="nav nav-third-level" aria-expanded="false">

        <%= activatable_li_tag assesments_path do |url| %>
          <%= link_to fa_icon_tag("star") << "Assesments", url %>
        <% end %>

        <% if current_user.admin? %>
          <%= activatable_li_tag maturity_frameworks_path do |url| %>
            <%= link_to fa_icon_tag("pied-piper") << "Framework Setup", url %>
          <% end %>
        <% end %>
      </ul>
    </li>
  </ul>
</li>