<%= form_for(@workflow, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>


  <%= f.hidden_field :setting_id, value: current_user.setting.id %>

  <%= f.form_group :open do |f| %>
    <%= f.label :open, class: 'control-label col-md-2' %>
    <div class='col-md-4'>
      <%= f.text_field :open, class: 'form-control', placeholder: "open,nil,to do,..." %>
      <%= f.error_messages %>
    </div>
  <% end %>


  <%= f.form_group :backlog do |f| %>
    <%= f.label :backlog, class: 'control-label col-md-2' %>
    <div class='col-md-4'>

      <%= f.text_field :backlog, class: 'form-control', placeholder: "backlog,ready,..." %>
      <%= f.error_messages %>

    </div>
  <% end %>

  <%= f.form_group :wip do |f| %>
    <%= f.label "In progress", class: 'control-label col-md-2' %>
    <div class='col-md-4'>

      <%= f.text_field :wip, class: 'form-control', placeholder: "in progress,analysis,..." %>
      <%= f.error_messages %>

    </div>
  <% end %>


  <%= f.form_group :testing do |f| %>
    <%= f.label :testing, class: 'control-label col-md-2' %>
    <div class='col-md-4'>

      <%= f.text_field :testing, class: 'form-control', placeholder: "review,in review,testing,..." %>
      <%= f.error_messages %>

    </div>
  <% end %>

  <%= f.form_group :done do |f| %>
    <%= f.label :done, class: 'control-label col-md-2' %>
    <div class='col-md-4'>

      <%= f.text_field :done, class: 'form-control', placeholder: "closed,done,production,..." %>
      <%= f.error_messages %>

    </div>
  <% end %>

  <%= f.form_group :flagged do |f| %>
    <%= f.label :flagged, class: 'control-label col-md-2' %>
    <div class='col-md-4'>

      <%= f.text_field :flagged, class: 'form-control', placeholder: "impediment" %>
      <%= f.error_messages %>

    </div>
  <% end %>

  <div class="form-actions">
    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to "Cancel", workflows_path, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>

