<% @title = "Listing workflows" %>

<% content_for :description do %>
  <p>Edit this template in <code>app/views/workflows/index.html.erb</code>.</p>
<% end %>

<% content_for :actions do %>
  <%= link_to new_workflow_path, class: 'btn btn-primary btn-large pull-right' do %>
    <%= fa_icon_tag "plus" %> Add Workflow
  <% end %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <table class="table">
            <thead>
            <tr>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @workflows.each do |workflow| %>
              <tr>
                <td class="actions">
                  <%= link_to fa_icon_tag("eye"), workflow, rel: 'tooltip', title: 'Show' %>
                  <%= link_to fa_icon_tag("pencil"), edit_workflow_path(workflow), rel: 'tooltip', title: 'Edit' %>
                  <%= link_to fa_icon_tag("trash-o"), workflow, rel: 'tooltip', title: 'Delete',
                              data: { confirm: 'Are you sure?' }, method: :delete %>
                </td>
              </tr>
            <% end %>
            <% if @workflows.length == 0 %>
              <tr>
                <td colspan=42 class='text-center'>No workflows.</td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->

      <%# Remove the trailing if condition if you're using pagination. %>
      <%= will_paginate @workflows if @workflows.respond_to?(:total_pages) %>
    </div>
  </div>
</div>
