<% @title = "Workflow" %>

<% content_for :description do %>
  <p><%= vt_project_icon %>
    Current workflow for <%= current_user.setting.name %></p>
  <ol class="breadcrumb col-sm-6 col-xs-height text-left col-middle">
    <li><%= link_to "Manage Users", devise_manage_users_path %></li>
    <li><%= link_to "Clean Up", sprints_path %></li>
    <li><%= link_to "External Services", settings_path %></li>
    <li><%= link_to "Workflow", workflows_path %></li>
  </ol>
<% end %>
<%= tag.div id: :boards,data: {
    workflows: current_user.setting.workflow.sorted.to_json(only: [:id,:name,:position,:workflow_id],include: :cards)
}, class: "container-fluid"  %>
