<%= email_message_section do %>
  <%= email_message_spacer 2 %>
  <%= email_message_body_text do %>
    Hello <%= @user.email %>! has requested a link to access in Voardtrix
  <% end %>

  <%= email_message_button do %>
    <%= link_to 'Grant Access', root_path, style: 'color: #fff;' %></span>
  <% end %>

  <%= email_message_spacer 2 %>

  <%= email_message_small_text do %>
    If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.
  <% end %>

  <%= email_message_spacer 2 %>
<% end %>