<% @title = "Users & Groups" %>

<% content_for :description do %>

  <p><%= image_tag "/images/voardtrix_logo.png", class: "img-circle profile-image", height: '30', width: '30' %>
    Manage User</p>
<% end %>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <table class="table" id="userlist">
            <thead>
            <tr>
              <th>Avatar</th>
              <th><%= sort_link "displayName", "Name" %></th>
              <th><%= sort_link "email", "email" %></th>
              <th><%= sort_link "extuser", "Login" %></th>
              <th>Last login</th>
              <th>Admin</th>
              <th>Connection</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= image_tag user.avatar.to_s, class: "img-circle profile-image", height: '35', width: '35' %></td>
                <td><%= user.displayName %></td>
                <td><%= user.email %></td>
                <td><%= user.extuser %></td>
                <td><%= user.last_sign_in_at.strftime("%d-%m-%Y") unless user.last_sign_in_at.blank? %></td>
                <td>
                  <label class="switch switch-success">
                    <%= check_box_tag "#{user.id}", "#{user.group.blank? ? '0' : user.group.priority}", user.admin?, data: { behaviour: :user_link } %>
                    <span></span>
                  </label>
                </td>
                <td>
                  <div class="btn-group" data-behavior='user_info_<%= user.id %>'>
                    <%= select_tag "setting_id", options_from_collection_for_select(Setting.all, "id", "site", (user.setting.id unless user.setting.blank?)), id: user.id, include_blank: 'Not defined', data: { behaviour: :site_link }, class: 'form-control form-control-lg' %>
                  </div>
                </td>

                <td class="actions">
                  <%= link_to fa_icon_tag("trash-o"), admin_destroy_user_path(user.id), rel: 'tooltip', title: 'Delete', method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>

              </tr>
            <% end %>
            <% if @users.length == 0 %>
              <tr>
                <td colspan=42 class='text-center'>No other users created</td>
              </tr>
            <% end %>

            <%= form_for(@user, url: devise_manage_users_path, method: :post, html: { class: 'form-horizontal' }) do |f| %>
              <thead>
              <tr>
                <th>Avatar</th>
                <th>Name</th>
                <th>Email</th>
                <th>Login</th>
                <th>Password</th>
                <th>Admin</th>
                <th>Connection</th>
                <th></th>
              </tr>
              </thead>
              <tr>
                <td><%= image_tag '/images/voardtrix_logo.png', class: "img-circle profile-image", height: '35', width: '35' %></td>
                <td><%= f.text_field :displayName, autofocus: true, required: true, placeholder: 'User name' %></td>
                <td><%= f.email_field :email, required: true, placeholder: 'Email' %></td>
                <td><%= f.text_field :extuser, required: true, value: "", placeholder: 'External login' %></td>
                <td><%= f.password_field :password, required: true, placeholder: 'Password' %></td>
                <td>
                  <label class="switch switch-success">
                    <%= check_box_tag 'admin' %>

                    <span></span>
                  </label>
                </td>
                <td>
                  <div class="btn-group">
                    <%= select_tag "setting_id", options_from_collection_for_select(Setting.all, "id", "site"), class: 'form-control form-control-lg' %>
                  </div>
                </td>
                <td>
                  <%= button_tag(class: "btn btn-circle btn-sm btn-link") do %>
                    <%= fa_icon_tag("plus") %> Add
                  <% end %>
                </td>
              </tr>
            <% end %>




            </tbody>
          </table>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->

    </div>
  </div>

</div>
