<style>
  .mselector {
    display: inline-block;
    height: 32px;
    width: 100%;
    outline: none;
    color: #74646e;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
  }
</style>
<% @title = "Users & Groups" %>

<% content_for :description do %>
  <p><%= image_tag "/images/voardtrix_logo.png", class: "img-circle profile-image", height: '30', width: '30' %>
    Manage User</p>
  <%= render 'layouts/settings_nav' %>

<% end %>


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <table class="table" id="userlist">
            <thead>
            <tr>
              <th style="min-width:20px;">Avatar</th>
              <th style="min-width:150px;"><%= sort_link "displayName", "Name" %></th>
              <th style="min-width:150px;"><%= sort_link "email", "email" %></th>
              <th style="min-width:20px;">Provider</th>
              <th style="min-width:60px;">Last login</th>
              <th style="min-width:15px;">Admin</th>
              <th style="min-width:100px;">Jira</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <tr>
                <td data-behavior='user_info_<%= user.id %>'><%= image_tag user.avatar.to_s, class: "img-circle profile-image", height: '35', width: '35' %></td>
                <td data-behavior='user_info_<%= user.id %>'><%= user.displayName %></td>
                <td data-behavior='user_info_<%= user.id %>'><%= user.email %></td>
                <td data-behavior='user_info_<%= user.id %>'>
                  <% user.services.each do |p| %>
                     <%= provider_icon p %>
                  <% end %>
                </td>
                <td data-behavior='user_info_<%= user.id %>'><%= user.last_sign_in_at.strftime("%d-%m-%Y") unless user.last_sign_in_at.blank? %></td>
                <td data-behavior='user_info_<%= user.id %>'>
                  <label class="switch switch-success">
                    <%= check_box_tag "#{user.id}", "#{user.group.blank? ? '0' : user.group.priority}", user.admin?, data: {behaviour: :user_link} %>
                    <span></span>
                  </label>
                </td>
                <td data-behavior='user_info_<%= user.id %>'>
                  <div class="btn-group">
                    <%= select_tag "setting_id", options_from_collection_for_select(Setting.all, "id", "name", (user.setting.id unless user.setting.blank?)), id: user.id, include_blank: 'Not defined', data: {behaviour: :site_link}, class: 'form-control btn-sm mselector' %>
                  </div>
                </td>

                <td class="actions" data-behavior='user_info_<%= user.id %>'>
                  <%= link_to fa_icon_tag("trash-o"), admin_destroy_user_path(user.id), method: :delete, data: {confirm: 'Are you sure?', title: 'Delete', toggle: :tooltip} %>
                </td>
              </tr>
            <% end %>
            <% if @users.length == 0 %>
              <tr>
                <td colspan=42 class='text-center'>No other users created</td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <%= render 'form' %>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->
    </div>
  </div>

