<% @title = "Users & Groups" %>

<% content_for :description do %>
  <p><%= image_tag "/images/voardtrix_logo.png", class: "img-circle profile-image", height: '30', width: '30' %>
    Manage User</p>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <table class="table" id="userlist">
            <thead>
            <tr>
              <th width="15">Avatar</th>
              <th><%= sort_link "displayName", "Name" %></th>
              <th><%= sort_link "email", "email" %></th>
              <th><%= sort_link "extuser", "Login" %></th>
              <th>Last login</th>
              <th width="15">Admin</th>
              <th width="40">Jira</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= image_tag user.avatar.to_s, class: "img-circle profile-image", height: '35', width: '35' %></td>
                <td><%= user.displayName %></td>
                <td><%= user.email %></td>
                <td><%= user.extuser %></td>
                <td><%= user.last_sign_in_at.strftime("%d-%m-%Y") unless user.last_sign_in_at.blank? %></td>
                <td>
                  <label class="switch switch-success">
                    <%= check_box_tag "#{user.id}", "#{user.group.blank? ? '0' : user.group.priority}", user.admin?, data: { behaviour: :user_link } %>
                    <span></span>
                  </label>
                </td>
                <td style="min-width: 30px;">
                  <div class="btn-group" data-behavior='user_info_<%= user.id %>'>
                    <%= select_tag "setting_id", options_from_collection_for_select(Setting.all, "id", "name", (user.setting.id unless user.setting.blank?)), id: user.id, include_blank: 'Not defined', data: { behaviour: :site_link }, class: 'form-control form-control-lg' %>
                  </div>
                </td>

                <td class="actions">
                  <%= link_to fa_icon_tag("trash-o"), admin_destroy_user_path(user.id), rel: 'tooltip', title: 'Delete', method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>

              </tr>
            <% end %>
            <% if @users.length == 0 %>
              <tr>
                <td colspan=42 class='text-center'>No other users created</td>
              </tr>
            <% end %>
            <%= render 'form' %>
            </tbody>
          </table>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->
    </div>
  </div>
</div>
