
<div class="container-fluid mt20">
  <%= render "layouts/flashes" %>

  <%= hidden_field_tag 'teamid', @team.id, class: 'form-control', id: 'teamid' %>
  <%= hidden_field_tag 'extsite', current_user.setting.site, class: 'form-control', id: 'extsite' %>

  <%= render "layouts/historical_sprint_data" %>

  <%= render "layouts/footer_agent" %>

</div>
