<%= form_for(@setting, html: { multipart: true, class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>




  <div class="form-inputs">
    <%= f.form_group :site do |f| %>
      <%= f.label :site, class: 'control-label col-md-2' %>
      <div class='col-md-4'>
        <div class="input-group leading">
          <span class="input-group-addon">https://</span>
          <%= f.text_field :site, class: 'form-control', placeholder: "jira.yourrestserver.com" %>
          <%= f.error_messages %>
        </div>
      </div>
    <% end %>

    <%= f.form_group :base_path do |f| %>
      <%= f.label :base_path, class: 'control-label col-md-2' %>
      <div class='col-md-2'>
        <%= f.text_field :base_path, class: 'form-control', placeholder: "/rest/api/2" %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :context do |f| %>
      <%= f.label :context, class: 'control-label col-md-2' %>
      <div class='col-md-2'>
        <%= f.text_field :context, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>



    <%= f.form_group :signature_method do |f| %>
      <%= f.label :signature_method, class: 'control-label col-md-2' %>
      <div class='col-md-2'>
        <%= f.text_field :signature_method, class: 'form-control', placeholder: "RSA-SHA1" %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :oauth do |f| %>
      <%= f.label :oauth, class: 'control-label col-md-2' %>
      <div class='col-md-2'>
        <label class="switch switch-success small">
          <%= f.check_box :oauth, class: 'form-control' %>
          <%= f.error_messages %>
          <span></span>
        </label>
      </div>
    <% end %>

    <%= f.form_group :key_file do |f| %>
      <%= f.label :key_file, class: 'control-label col-md-2' %>
      <div class='col-md-4'>
        <div class="input-group leading">
          <%= f.file_field :key_data, class: 'form-control', accept: 'text/pem' %>
          <span class="input-group-addon">.pem</span>
          <%= f.error_messages %>
        </div>
      </div>
    <% end %>


    <%= f.form_group :key_data do |f| %>
      <%= f.label ' ', class: 'control-label col-md-2' %>
      <div class='col-md-8'>
        <div class="input-group leading">
          <%= content_tag :p, @setting.key_data, class: 'small' %>
        </div>
      </div>
    <% end %>



    <%= f.form_group :consumer_key do |f| %>
      <%= f.label :consumer_key, class: 'control-label col-md-2' %>
      <div class='col-md-4'>
        <%= f.text_field :consumer_key, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>



    <%= f.form_group :debug do |f| %>
      <%= f.label :debug, class: 'control-label col-md-2' %>
      <div class='col-md-2'>
        <label class="switch switch-success small">
          <%= f.check_box :debug, class: 'form-control' %>
          <%= f.error_messages %>
          <span></span>
        </label>
      </div>
    <% end %>


  </div>

  <div class="form-actions">
    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to "Cancel", settings_path, class: 'btn' %>
      </div>
    </div>
  </div>
<% end %>

