<%= form_for(@assesment, html: {class: 'form-horizontal form-control-lg'}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%= f.form_group :name do |f| %>
          <%= f.label :name, class: 'control-label col-md-2' %>
          <div class='col-md-2'>
            <%= f.text_field :name, required: true, class: 'form-control form-control-lg' %>
            <%= f.error_messages %>
          </div>
      <% end %>

      <%= f.form_group :date do |f| %>
          <%= f.label :date, class: 'control-label col-md-2' %>
          <div class='col-md-2'>
            <%= f.date_field :date, min: Time.now, required: true, class: 'form-control form-control-lg', disabled: f.object.persisted? %>
            <%= f.error_messages %>
          </div>
      <% end %>

      <%= f.form_group :team_id do |f| %>
        <%= f.label :team_id, class: 'control-label col-md-2' %>
        <div class='col-md-4'>
          <%= f.select :team_id, current_user.teams.collect { |p| [ p.name, p.id ] }, {required: true}, {class: 'form-control form-control-lg', disabled: f.object.persisted?}%>
          <%= f.error_messages %>
        </div>
      <% end %>

      <%= f.form_group :team_id do |f| %>
        <%= f.label "Framework", class: 'control-label col-md-2' %>
        <div class='col-md-4'>
          <%= f.select :maturity_framework_id, MaturityFramework.order(:id).collect { |p| [ p.name, p.id ] },{required: true}, {class: 'form-control form-control-lg', disabled: f.object.persisted?}%>
          <%= f.error_messages %>
        </div>
      <% end %>


    </div>

    <div class="form-actions">
      <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <%= f.submit class: 'btn btn-primary' %>
          <%= link_to "Cancel", assesments_path, class: 'btn' %>
        </div>
      </div>
    </div>
<% end %>

