<% @title = @assesment.maturity_framework.name %>

<% content_for :description do %>
  <p><%= image_tag @project_icon.to_s, class: "img-circle profile-image", height: '20', width: '20' %>
    <%= @assesment.team.name %></p>
<% end %>


<% content_for :actions do %>
  <%= link_to assesments_path, class: 'btn btn-primary btn-large pull-right' do %>
    <%= fa_icon_tag "reply" %> Back to assesments
  <% end %>
<% end %>
<br/>
<%= render "layouts/flashes" %>
<%= render "level_tabbar" %>
