<% @title = "Listing assessments" %>

<% content_for :description do %>
  <p><%= vt_project_icon %>
    <%= vt_project_name %></p>
<% end %>

<% content_for :actions do %>
  <%= link_to new_assesment_path, class: 'btn btn-primary btn-large pull-right',data: {disable_with: "<i class='fa fa-spinner fa-pulse'></i>"} do %>
    <%= fa_icon_tag "plus" %> New Assesment
  <% end %>
<% end %>

<div class="container-fluid mt15">
  <%= render "layouts/flashes" %>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Team</th>
              <th>Framework</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% Assesment.by_team(@team.id).each do |assesment| %>
              <tr>
                <td><%= assesment.name %></td>
                <td><%= assesment.date.strftime('%a, %d/%b/%Y') %></td>
                <td><%= assesment.team.name %></td>
                <td><%= assesment.maturity_framework.name %></td>
                <td class="actions">
                  <%= link_to fa_icon_tag("bookmark"), assesment_answer_path(assesment.id), rel: 'tooltip', title: 'Results' %>
                  <%= link_to fa_icon_tag("trash-o"), assesment, rel: 'tooltip', title: 'Delete',
                              data: { confirm: 'Are you sure?' }, method: :delete %>
                </td>
              </tr>
            <% end %>
            <% if Assesment.by_team(@team.id).length == 0 %>
              <tr>
                <td colspan=42 class='text-center'>No assesments.</td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->

      <%# Remove the trailing if condition if you're using pagination. %>
      <%= will_paginate  Assesment.by_team(@team.id) if  Assesment.by_team(@team.id).respond_to?(:total_pages) %>
    </div>
  </div>
</div>
