<% @title = "Import a sprint" %>

<% content_for :description do %>
    <p><%= vt_project_icon %>
      <%= vt_project_name %></p>
<% end %>


<div class="container-fluid mt15">
  <%= render "layouts/flashes" %>


  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="sheet sheet-condensed">
        <div class="sheet-inner">
          <table class="table">
            <thead>
            <tr>
              <th>Board Id</th>
              <th><%= sort_link "name", "Name", {board_id: params[:board_id]} %></th>
              <th><%= sort_link "startDate", "Start Date", {board_id: params[:board_id]} %></th>
              <th><%= sort_link "endDate", "End Date", {board_id: params[:board_id]} %></th>
              <th>Complete date</th>
              <th>State</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @board_sprint.each do |sprint| %>
                <tr>
                  <td><%= sprint['originBoardId'] %></td>
                  <td><%= sprint['id'] %></td>
                  <td><%= sprint['name'] %></td>
                  <td><%= formatDate sprint['startDate'] %></td>
                  <td><%= formatDate sprint['endDate'] %></td>
                  <td><%= formatDate sprint['completeDate'] %></td>
                  <td><%= vt_issue_status_tag sprint['state'], sprint['state'].upcase %></td>

                  <td class="actions">

                    <%= link_to fa_icon_tag("cloud-download"), sprint_import_issues_path(sprint), rel: 'tooltip', title: 'Download', data: {disable_with: "<i class='fa fa-spinner fa-pulse'></i>"} %>
                  </td>

                </tr>
            <% end %>
            <% if @board_sprint.length == 0 %>
                <tr>
                  <td colspan=42 class='text-center'>No sprints.</td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div><!-- /.sheet-inner -->
      </div><!-- /.sheet -->

    </div>
  </div>

</div>
