<% @title = "Listing advices" %>

<% content_for :description do %>
  <p><%= vt_project_icon %> Advices</p>
<% end %>


<%= render "layouts/flashes" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default mt15">
        <div class="panel-heading">
          <h3 class="panel-title">Advice threads</h3>
        </div>
        <div class="panel-body">
          <table class="table table-hover table-striped">
            <thead>
            <tr>
              <th>Subject</th>
              <th></th>
              <th>Description</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @team.advices.each do |advice| %>
              <tr>
                <td style="min-width: 190px; max-width: 190px;"><%= advice.advice_type.humanize %></td>
                <td><span class="badge" data-toggle="tooltip" title="Number of comments made" data-placement="top"><%= advice.comments.count %></span></td>
                <td><%= advice.description.html_safe %></td>
                <td style="min-width: 110px; max-width: 110px;">
                  <div class="btn-group btn-group-sm">
                    <%= link_to fa_icon_tag("eye"), comment_path(advice.id), rel: 'tooltip', title: 'Show', class: "btn btn-default" %>
                    <%= link_to fa_icon_tag("trash-o"), advice, rel: 'tooltip', title: 'Delete',
                                data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-default" %>
                  </div>
                </td>
              </tr>
            <% end %>
            <% if @team.advices.length == 0 %>
              <tr>
                <td colspan=42 class='text-center'>No advices.</td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <%= render 'form' %>

        </div>
      </div>

      <%# Remove the trailing if condition if you're using pagination. %>
      <%= will_paginate @team.advices if @team.advices.respond_to?(:total_pages) %>
    </div>
  </div>
</div>
