<div class="panel panel-default">
  <div class="panel-heading">
    <p class='lead'><%= ionicon_icon_tag 'flame' %> ACTIVITY</p>
    <ul class="nav nav-tabs nav-tabs-xs">
      <li class="active">
        <a href="#dashboard-recent-comments" data-toggle="tab">In Progress</a>
      </li>
      <li class="">
        <a href="#dashboard-recent-threads" data-toggle="tab">Done</a>
      </li>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane fade active in" style='height: 470px; overflow: scroll;' id='dashboard-recent-comments'>
      <ul class="list-group list-group-flush">
        <% sprint.issues.each do |issue| %>
          <% if issue.in_progress? %>
                <li class='list-group-item'>
                  <div class="media">
                    <a class="pull-left" href="#">
                      <%= image_tag issue.assigneeavatar, data: {toggle: "tooltip", title: issue.assignee} unless issue.assignee.nil? %>
                      <%= random_avatar 40, "media-object" if issue.assignee.nil? %>
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading">
                        <%= image_tag issue.issueicon, data: {toggle: "tooltip", title: issue.issuetype} %>
                        <a href="#" title=""><%= issue.key %></a> assigned to
                        <a href="#" title=""><%= issue.assignee unless issue.assignee.nil? %> </a>
                      </h5>
                      <p class='small'><%= issue.description %></p>
                      <ul class="list-inline small">
                        <li>
                          <%= ionicon_icon_tag("ios-keypad") %>
                          <%= issue.components %>
                        </li>
                        <span class="pull-right small">
                          <%= fa_icon_tag("calendar-plus-o") %><%= issue.updated.strftime("%d/%m/%y") unless issue.updated.nil? %>
                          <%= image_tag issue.issueicon, data: {toggle: "tooltip", title: issue.issuetype} %>
                        </span>
                      </ul>
                    </div>
                  </div>
                </li>
            <% end %>
        <% end %>
        <% if sprint.issues.any? {|issue| issue.done?} %>
            <li class='list-group-item'>
              <div class="media">
                <a class="pull-left" href="#">
                  <%= image_tag @project_icon, data: {toggle: "tooltip", title: @project_name} %>
                </a>
                <div class="media-body">
                  <h5 class="media-heading">
                    <%= sprint.blank? ? "No sprint" : sprint.name %>
                  </h5>
                  <p class='small'>This sprint has completed all user stories and tasks.</p>
                </div>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="tab-pane fade" style='height: 470px; overflow: scroll;' id='dashboard-recent-threads'>
      <ul class="list-group list-group-flush">
        <% sprint.issues.each do |issue| %>
          <% if issue.done? %>

                <li class='list-group-item' id="recent-<%= issue.key %>">
                  <div class="media">
                    <a class="pull-left" href="#">
                      <%= image_tag issue.assigneeavatar, data: {toggle: "tooltip", title: issue.assignee} unless issue.assignee.nil? %>
                      <%= random_avatar 40, "media-object" if issue.assignee.nil? %>
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading">
                        <%= image_tag issue.issueicon, data: {toggle: "tooltip", title: issue.issuetype} %>
                        <a href="#" title=""><%= issue.key %></a> assigned to
                        <a href="#" title=""><%= issue.assignee unless issue.assignee.nil? %> </a>
                      </h5>
                      <p class='small'><%= issue.description %></p>
                      <ul class="list-inline small">
                        <li>
                          <%= ionicon_icon_tag("ios-keypad") %>
                          <% issue.components %>

                        </li>
                        <span class="pull-right small">
                          <%= fa_icon_tag("calendar-check-o") %><%= issue.resolutiondate.strftime("%d/%m/%y") unless issue.resolutiondate.nil? %>
                          <%= image_tag issue.issueicon, data: {toggle: "tooltip", title: issue.issuetype} %>
                        </span>

                      </ul>
                    </div>
                  </div>
                </li>
            <% end %>
        <% end %>
        <% if !sprint.issues.any? {|issue| issue.done?} %>
            <li class='list-group-item'>
              <div class="media">
                <a class="pull-left" href="#">
                  <%= image_tag @project_icon, data: {toggle: "tooltip", title: @project_name} %>
                </a>
                <div class="media-body">
                  <h5 class="media-heading">
                    <%= sprint.blank? ? "No sprint" : sprint.name %>
                  </h5>
                  <p class='small'>This sprint has not completed any user story or task yet</p>
                </div>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="panel-footer"><%= " <strong>".html_safe << sprint.issues.count {|issue| issue.in_progress?}.to_s << " </strong>".html_safe %>
    items in progress
    and <%= " <strong>".html_safe << sprint.issues.count {|issue| issue.done?}.to_s << " </strong>".html_safe %>
    done
  </div>

</div>