<div class="row match-my-cols">

  <div class="col-lg-6 col-md-6 col-sm-12 animate-drop-fade">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <p class="lead"><i class="fa fa-flag"></i> Have been <b>Blocked</b></p>
      </div>
      <div class='panel-body text-red-400 text-center'>
        <h2 class='page-hits m0'><%= sprint.items_flagged_by_sprint %></h2>
        <small>Items Blocked</small>
      </div>
    </div>

  </div>


  <div class="col-lg-6 col-md-6 col-sm-12 animate-drop-fade">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <p class="lead"><i class="fa fa-percent"></i> Ratio <b>items blocked</b></p>
      </div>
      <div class='panel-body text-red-400 text-center' data-toggle="popover" data-placement="top" data-content="<%= Vortrics.config[:popover][:ratio_items_blocked] %>" data-original-title="" title="" id="popoverItemsBlocked">
        <h2 class="m0"><%= sprint.ratio_items_flagged %>%</h2>
        <small>Items flagged / Items</small>
      </div>
    </div>
  </div>


</div>


<div class="row match-my-cols">

  <div class="col-lg-6 col-md-6 col-sm-12 animate-drop-fade">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <p class="lead"><i class="fa fa-clock-o"></i> Sum Time in <b>blocked</b></p>
      </div>
      <div class='panel-body text-red-400 text-center' data-toggle="popover" data-placement="top" data-content="<%= Vortrics.config[:popover][:time_blocked] %>" data-original-title="" title="" id="popoverTimeBlocked">
        <h2 class="m0"><%= sprint.time_in_flagged %>d</h2>
        <small>Days</small>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 animate-drop-fade">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <p class="lead"><%= fa_icon_tag("pie-chart") %>  Ratio <b>time blocked</b></p>
      </div>
      <div class='panel-body text-red-400 text-center' data-toggle="popover" data-placement="top" data-content="<%= Vortrics.config[:popover][:ratio_time_blocked] %>" data-original-title="" title="" id="popoverTimeBlocked">
        <h2 class="m0"><%= sprint.ratio_time_flagged %>h</h2>
        <small>Hours by item</small>
      </div>
    </div>
  </div>


</div>