<div class="col-lg-3 col-md-6 col-sm-12">
  <div class="container-fluid">

    <div class="row">
      <div class="panel panel-info mt15" id="panels">
        <div class="panel-heading">
          <p class="lead"><%= fa_icon_tag("tag") %>
            <b>Summary</b> <%= @issue.key %>
          </p>
          <%= first_time_to_response %>
        </div>

        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12">
              <p class="panel-body text-justify"><%= @issue.summary %></p>
            </div>
          </div>
        </form>
      </div>
    </div>


    <div class="row">
      <div class="panel" id="panels" style="margin-top: -20px;">
        <div class="panel-heading">
          <p class="lead"><%= fa_icon_tag("ticket") %>
            Type
            <span class="pull-right">
              <%= image_tag @issue.issueicon, data: {toggle: "tooltip", title: @issue.issuetype.to_s} %> <%= @issue.issuetype %>
            </span>
          </p>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="panel" id="panels" style="margin-top: -20px;">
        <div class="panel-heading">
          <p class="lead"><%= fa_icon_tag("columns") %>
            Status
            <span class="pull-right"> <%= vt_issue_status_tag @issue.status, @issue.statusname %></span>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel" id="panels" style="margin-top: -20px;">
        <div class="panel-heading">
          <p class="lead"><%= fa_icon_tag("bolt") %>
            Priority
            <span class="pull-right">   <%= image_tag @issue.priorityicon, data: {toggle: "tooltip", title: @issue.priority}, height: '20', width: '20' %> <%= @issue.priority %>
</span>
          </p>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="panel" id="panels" style="margin-top: -20px;">
        <div class="panel-heading">
          <p class="lead"><%= fa_icon_tag("briefcase") %>
            Components
            <span class="pull-right small"> <%= @issue.components.upcase %></span>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="col-lg-2 col-md-6 col-sm-12">
  <div class="container-fluid">
    <div class="row">
      <div class="panel panel-info mt15">
        <div class="panel-heading">
          <p class="lead"><%= fa_icon_tag("fire") %>  <b>Estimation</b></p>
        </div>
        <div class='panel-body text-blue-400 text-center'>
          <h2 class="m0"><%= @issue.customfield_11382 %></h2>
          <small>Story Points</small>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render "layouts/issue_report", :locals => {:issue => @issue} %>
    </div>
  </div>
</div>

<div class="col-lg-5 col-md-6 col-sm-12">
  <div class="container-fluid">
    <div class="row">
      <%= render "issue_comments" %>
    </div>
  </div>
</div>

<div class="col-lg-2 col-md-6 col-sm-12">
  <div class="container-fluid">
    <div class="row">
      <%= render "layouts/assigned_people" %>
    </div>
  </div>
</div>
