<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1"
     xmlns="http://www.w3.org/2000/svg">
  <defs>
    <symbol id="icon-voardtrix" viewBox="0 0 39 32">
      <title>vortrics</title>
      <path fill="#24c0eb" style="fill: var(--color1, #24c0eb)" d="M31.936 17.065c0-5.315-3.567-10.666-6.574-14.233l-0.35-0.42-0.629 0.28-1.119 1.119c-3.847 3.847-1.259 8.148 1.014 11.96 0.979 1.644 1.958 3.252 2.448 4.756-0.734 0.455-1.504 0.874-2.308 1.294-2.063 1.084-4.126 2.168-5.21 4.196-1.049-1.993-3.147-3.112-5.21-4.196-0.804-0.42-1.574-0.839-2.308-1.294 0.49-1.539 1.434-3.112 2.448-4.756 2.273-3.812 4.861-8.113 1.014-11.96l-1.539-1.574-0.49 0.594c-3.007 3.567-6.574 8.917-6.574 14.233 0 6.749 5.28 12.274 11.995 12.659v0.035h1.399v-0.035c6.714-0.385 11.96-5.945 11.995-12.659zM28.334 23.709c0.175-0.839 0.14-1.713-0.035-2.553 0.769-0.559 1.469-1.259 2.028-2.028-0.315 1.644-0.979 3.217-1.993 4.581zM10.115 23.709c-0.979-1.364-1.679-2.937-1.993-4.581 0.559 0.769 1.224 1.469 2.028 2.028-0.175 0.839-0.175 1.713-0.035 2.553v0zM8.227 14.617c0.769-3.812 3.217-7.518 5.49-10.316l0.525 0.525c3.077 3.077 1.084 6.399-1.224 10.246-0.909 1.539-1.853 3.077-2.413 4.651-1.434-1.154-2.378-2.693-2.378-5.106v0zM15.046 27.52c-1.993-1.189-3.147-2.483-3.497-3.917-0.14-0.525-0.175-1.084-0.105-1.609 0.629 0.385 1.329 0.734 1.958 1.084 2.553 1.329 4.791 2.518 5.106 5.245-1.189-0.070-2.378-0.35-3.462-0.804v0zM26.936 23.604c-0.35 1.434-1.504 2.728-3.497 3.917-1.119 0.455-2.273 0.699-3.462 0.769 0.315-2.728 2.553-3.917 5.106-5.245 0.629-0.35 1.329-0.699 1.958-1.084 0.070 0.594 0.035 1.119-0.105 1.644zM25.467 15.071c-2.308-3.847-4.301-7.169-1.224-10.246l0.525-0.525c2.238 2.763 4.721 6.504 5.49 10.316-0.035 2.413-0.979 3.952-2.343 5.106-0.594-1.574-1.504-3.147-2.448-4.651z"></path>
    </symbol>
  </defs>
</svg>
<style>
  .icon-voardtrix {
    display: inline-block;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 1.203125em;
  }
</style>

<div class="nav-side-menu">
  <%= render 'menu/menu_header' %>
  <ul id="menu-content" class="nav collapse navbar-collapse">
    <% if @team.present? %>
      <% if @team.scrum? %>
        <%= render 'menu/menu_dashboard' %>
      <%else %>
        <%= render 'menu/menu_kanban'%>
      <%end %>
      <%= render 'menu/menu_analysis' if @team.id.present? %>
      <%= render 'menu/menu_forecating' %>
      <%= render 'menu/menu_kaizen' %>
    <% end %>
    <%= render 'menu/menu_admin' if current_user.admin? %>
    <li class="nav-side-menu-footer">
      <% unless @team.blank? %>
        <div>
          <strong><%= @team.name %></strong>
        </div>
        <%= render partial: "layouts/sprint_progress_bar", :locals => { :team => @team, :type => 'progress-mini' } %>
        <div class='text-center'>
          <%= vt_items_text_tag %>
        </div>
      <% end %>
    </li>
  </ul>
</div>
