<li class="nav-side-menu-footer">
  <div>
    <strong><%= @team.name unless @team.blank? %></strong> Sprint status
  </div>
  <% if !@team.sprint.blank? %>
      <div class="progress progress-mini">

        <div class="progress-bar progress-bar-info" style="width: <%= @team.bar_percent_of(:new?) %>%">
          <span class="sr-only"><%= @team.bar_percent_of(:new?) %>
            % Open</span><i class="fa fa-thumb-tack" data-toggle="tooltip" data-title="Open <%= @team.bar_percent_of(:new?) %>%" style="margin-top: 5px;"></i>
        </div>
        <div class="progress-bar progress-bar-warning" style="width: <%= @team.bar_percent_of(:in_progress?) %>%">
          <span class="sr-only"><%= @team.bar_percent_of(:in_progress?) %>
            % In Progress</span><i class="glyphicon glyphicon-wrench" data-toggle="tooltip" data-title="Work in progress <%= @team.bar_percent_of(:in_progress?) %>%" style="margin-top: 5px;"></i>
        </div>
        <div class="progress-bar progress-bar-success" style="width: <%= @team.bar_percent_of(:done?) %>%">
          <span class="sr-only"><%= @team.bar_percent_of(:done?) %>
            % Done</span><i class="fa fa-gift" data-toggle="tooltip" data-title="Closed <%= @team.bar_percent_of(:done?) %>%" style="margin-top: 5px;"></i>
        </div>

      </div>
      <div class='text-center'>
        <%= " <strong>".html_safe << @team.sprint.issues.count.to_s << " </strong>".html_safe %> Items
        and <%= "<strong>".html_safe << @team.sprint.sprint_commitment.to_s << " </strong>".html_safe %> Story
        points
      </div>
  <% end %>
</li>