<div class="panel panel-cover" style="background-image: url(<%= image_path("/images/grey_panel.jpg") %>)">
    <p class="lead p10">Team Maturity</p>
    <%= tmf_badge 4, 170, "img-circle" %>
    <h3 class='mt0'><%=tmf_elem(@team,'name'){|elem| elem}%></h3>
    <ul class="stats list-unstlyed list-inline clearfix">
      <li class="col-4"><span><%= tmf_elem(@team,'tmf_process') {|elem| tmf_stars(elem)} %></span>Process</li>
      <li class="col-4"><span><%= tmf_elem(@team,'tmf_value') {|elem| tmf_stars(elem)}  %></span>Value</li>
      <li class="col-4"><span><%= tmf_elem(@team,'tmf_quality') {|elem| tmf_stars(elem)}  %></span>Quality</li>
    </ul>
  </div>
