<div class="panel panel-cover" style="background-image: url(<%= image_path("/images/grey_panel.jpg") %>)">
    <p class="lead p10">System Performance</p>
    <%= tmf_badge 170, "img-circle" %>
    <h3 class='mt0'><%=tmf_elem(@team,'name'){|elem| elem}%></h3>
    <ul class="stats list-unstlyed list-inline clearfix">
      <li class="col-4"><span><%= tmf_stars(@team.rate_process) %></span>Process</li>
      <li class="col-4"><span><%= tmf_stars(@team.rate_delivery)  %></span>Delivery</li>
      <li class="col-4"><span><%= tmf_stars(@team.rate_quality)  %></span>Quality</li>
    </ul>
  </div>
